{% extends "base.html" %}
{% block heading %}Home Page{% endblock %}
{% block content %}
<div class="product-container">
  <style>
    table {
      width: 100%;
      border-collapse: collapse;
    }
    th, td {
      padding: 8px; /* Adjust padding as needed */
      text-align: left;
      border-bottom: 1px solid #ddd; /* Adds a line under each row */
    }
    form {
      padding: 20px
    }
  </style>

  <!-- Create Form -->
  <!-- <form id="studentForm">
    <label for="studentName">Student Name:</label>
    <input type="text" id="studentName" name="studentName" required><br><br>
    
    <label for="subject">Subject:</label>
    <input type="text" id="subject" name="subject" required><br><br>
    
    <label for="grade">Grade:</label>
    <input type="number" id="grade" name="grade" required><br><br>
    
    <button type="button" id="createBtn">Create</button>
  </form> -->

  <!-- Delete student -->
  <form id="delstudentForm">
    <label for="studentName">Student Name:</label>
    <input type="text" id="delstudentName" name="studentName" required><br><br>

    <label for="subject">Subject:</label>
    <input type="text" id="delsubject" name="subject" required><br><br>
    
    <button type="button" id="deleteBtn">Delete</button>
  </form>

  <form id="searchForm">
    <label for="searchStud">Enter Student Name:</label>
    <input type="text" id="studName" name="studentName" required>
    <button type="submit" id="my-button" class="btn btn-primary">Submit</button>
  </form>

  <!-- <button type="submit"  onclick="window.location.href='/students';" id="my-button" class="btn btn-primary">Show All</button> -->
  <div>
        <a href="/students?filter=all">All Students</a> |
        <a href="/students?filter=pass">Pass</a> |
        <a href="/students?filter=fail">Fail</a>
    </div>
  <table>
    <thead>
      <tr>
        <th>Student Name</th> <br/>
        <th>Subject Name</th>
        <th>Grade</th>
        <th>Remarks</th>
      </tr>
    </thead>
    <tbody id="studentDetails">
      <!-- Student details will be loaded here -->
  <!-- for loop through list of products and create product cards with the product info -->
      {% if students %}
        {% for student in students %}
          <tr>
          <td>{{ student.student_name }}</td>
          <td>{{ student.subject_name }}</td>
          <td>{{ student.grade }}</td>
          <td>{{ student.remarks }}</td>
        </tr>
        {% endfor %}
      {% else %}
        <tr><td colspan="4">No students for this filter</td></tr>
      {% endif %}
    </tbody>
  </table>

</div>
<script>
  // Add a click event listener to search button
  document.querySelectorAll('.btn-primary').forEach(button => {
    button.addEventListener('click', function() {
      event.preventDefault(); 
      console.log('You are searching!')
      var inputValue = $('#studName').val();
      console.log(inputValue);

      // Send an AJAX request to the server
      $.ajax({
              url: '/search',
              type: 'POST',
              contentType: 'application/json',
              data: JSON.stringify({ studentName: inputValue }),
              success: function(data) {
                  $('#studentDetails').html('');
                  if (data.student && Array.isArray(data.student) && data.student.length > 0) {
                    console.log(data.student)
                    // Iterate through the array and create table rows for each student
                    data.student.forEach(function(student) {
                        var row = `<tr>
                            <td>${student.student_name}</td>
                            <td>${student.subject_name}</td>
                            <td>${student.grade}</td>
                            <td>${student.remarks}</td>
                        </tr>`;
                        $('#studentDetails').append(row);
                    });
                  } else {
                      $('#studentDetails').append('<tr><td colspan="4">No student found</td></tr>');
                  }
              }
          });
    });
  });

  // Helper function to validate input using a regular expression
  function isValidInput(value) {
    const whitespaceRegex = /^\s*$/; // Checks for only whitespace
    const validCharactersRegex = /^[a-zA-Z0-9 ]*$/; // Checks for valid characters

    // Return true if value is not just whitespace and contains only valid characters
    return !whitespaceRegex.test(value) && validCharactersRegex.test(value);
  }

  // Helper function to validate if grade is a valid number
  function isValidGrade(grade) {
      return !isNaN(grade) && grade !== ''; // Check if grade is a number and not an empty string
  }

  // Add a event listener to create a record
  document.addEventListener("DOMContentLoaded", function() {
      // // Add event listener for the CREATE button
      // document.querySelector("#createBtn").addEventListener("click", function() {
      //     const studentName = document.querySelector("#studentName").value;
      //     const subject = document.querySelector("#subject").value;
      //     const grade = document.querySelector("#grade").value;
      //     console.log(studentName, subject, grade)

      //     // Validate input fields
      //     if (!isValidInput(studentName) || !isValidInput(subject) || !isValidGrade(grade)) {
      //         alert("Please enter valid input: no empty spaces, tabs, or special characters.");
      //         return;
      //     }

      //     // Display a loading message
      //     var loadingDiv = document.createElement("div");
      //     loadingDiv.className = "alert alert-warning alert-dismissible fade show";
      //     loadingDiv.setAttribute("role", "alert");
      //     loadingDiv.innerHTML = 'Please wait - we are adding a record!';

      //     // Find the container div to insert the alert
      //     var containerDiv = document.querySelector('.container');
      //     containerDiv.parentNode.insertBefore(loadingDiv, containerDiv);


      //     // Send AJAX request to the backend
      //     fetch('/create-student', {
      //         method: 'POST',
      //         headers: {
      //             'Content-Type': 'application/json'
      //         },
      //         body: JSON.stringify({ studentName, subject, grade })
      //     })
      //     .then(response => response.json())
      //     .then(result => {
      //         // alert('Student added successfully');
      //         // window.location.reload(); // Refresh the page
      //         ms = result.message
      //         category = result.category
      //         console.log(ms)
      //         if(ms) {
      //              // Remove the loading message
      //             loadingDiv.remove();

      //             // Create a new div element to submit a success or error message
      //             var alertDiv = document.createElement("div");
      //             alertDiv.className = "alert alert-"+ category +" alert-dismissible fade show";
      //             alertDiv.setAttribute("role", "alert");
      //             alertDiv.innerHTML = ms+' <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>';

      //             // Find the container div to insert the alert
      //             var containerDiv = document.querySelector('.container');

      //             // Insert the alert before the container
      //             containerDiv.parentNode.insertBefore(alertDiv, containerDiv);
      //         }
      //     })
      //     .catch(error => {
      //         alert('Error: ' + error.message);
      //     });
      // });


      // DELETE student
      document.querySelector("#deleteBtn").addEventListener("click", function() {
        const studentName = document.querySelector("#delstudentName").value;
        const subject = document.querySelector("#delsubject").value;
        console.log(studentName, subject)

        // Validate input fields
        if (!isValidInput(studentName)) {
              alert("Please enter valid input: no empty spaces, tabs, or special characters.");
              return;
          }

          // Display a loading message
          var loadingDiv = document.createElement("div");
          loadingDiv.className = "alert alert-warning alert-dismissible fade show";
          loadingDiv.setAttribute("role", "alert");
          loadingDiv.innerHTML = 'Please wait - we are deleting a record!';

          // Find the container div to insert the alert
          var containerDiv = document.querySelector('.container');
          containerDiv.parentNode.insertBefore(loadingDiv, containerDiv);


          // Send AJAX request to the backend
          fetch('/delete-student', {
              method: 'POST',
              headers: {
                  'Content-Type': 'application/json'
              },
              body: JSON.stringify({ studentName, subject })
          })
          .then(response => response.json())
          .then(result => {
              ms = result.message
              category = result.category
              console.log(ms)
              if(ms) {
                   // Remove the loading message
                  loadingDiv.remove();

                  // Create a new div element to submit a success or error message
                  var alertDiv = document.createElement("div");
                  alertDiv.className = "alert alert-"+ category +" alert-dismissible fade show";
                  alertDiv.setAttribute("role", "alert");
                  alertDiv.innerHTML = ms+' <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>';

                  // Find the container div to insert the alert
                  var containerDiv = document.querySelector('.container');

                  // Insert the alert before the container
                  containerDiv.parentNode.insertBefore(alertDiv, containerDiv);
              }
          })
          .catch(error => {
              alert('Error: ' + error.message);
          });
      });
  });
</script>
{% endblock %}